.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input{
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 6px;
}

.results{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
}

.results .title {
  font-size: 20px;
  font-weight: bold;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.content{
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.content  div{
  width: 200px;
}